alembic
click
Flask
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
importlib-metadata
itsdangerous
Jinja2
lightning
Mako
MarkupSafe
nltk
pandas
psycopg2
PyJWT
python-dotenv
scikit-learn
SQLAlchemy
toolz
torch
tqdm
transformers
typing_extensions
Werkzeug
WTForms
zipp
