#sidebar {
  background-color: white;
  padding: 20px;
  width: 200px;
  padding-bottom: 30%;
  color: rgb(241, 246, 229);
}

#sidebar button {
  margin: 10px 0;
  width: 70%;
  padding: 3%;
  border-radius: 0px;
  border: 0px;
  cursor: pointer;
}

#sidebar img {
  vertical-align: middle;
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

#mainedit input {
  width: 45%;
  padding: 20px;
}

#profilephoto {
  margin-left: 10%;
}

#profilebut {
  width: 10%;
  padding: 0.5%;
  margin-top: 1%;
  margin-left: 1.5%;
}

#passedit input {
  width: 45%;
  padding: 20px;
  margin-bottom: 2%;
}

#passedit {
  border: 1px;
  margin-left: 40%;
  margin-top: -45%;
}

#iconedit {
  border: 1px;
  margin-left: -20%;
  margin-bottom: -20%;
}

#mainedit {
  border: 1px;
  margin-left: 14%;
  margin-top: -51%;
}

#words {
  border: 0.5px;
  margin-left: 25%;
  margin-top: -0%;
}
